
.heading > h1 {
  font-size: 48px;
  font-weight: bolder;
}
.heading > p {
  font-size: xx-large;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 25px;
  background: #e0e0e0;
  box-shadow: 7px 7px 14px #acacac, -7px -7px 14px #ffffff;

}
.container {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 10px
}
.containerLeft {
  display: flex;
  padding-left: 20px;
  padding-right: 10px
}
.containerRight {
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 10px

}
